- @page_title = Settings.about.meta.title
- @page_description = Settings.about.meta.description
- @page_keywords = Settings.about.meta.keywords

h1 Site#about
p Find me in app/views/site/about.html.slim
