/ meta charset='UTF-8'
/ 
/ / デスクリプションを不用意に変更されないようにする
/ meta content='NOYDIR' name='ROBOTS'
/ meta content='NOODP' name='ROBOTS'
/ 
/ / モバイル設定
/ link media='handheld' rel='alternate'
/ meta name="viewport" content="width=device-width,initial-scale=1.0"
/ 
/ / Twitter用のTwitter Card対策
/ - set_meta_tags twitter: { card: "summary", site: "@username" }
/ 
/ / favicon
/ - set_meta_tags icon: '/favicon.ico'
/ 
/ / Noindex/Nofollow
/ - if noindex?
/   - set_meta_tags noindex: true, nofollow: true
/ 
/ / デフォルト設定
/ = display_meta_tags(default_meta_tags)


meta(charset="utf-8")

meta(content='NOYDIR' name='ROBOTS')
meta(content='NOODP' name='ROBOTS')
link(media='handheld' rel='alternate')

meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no")
meta(property="fb:app_id" content=Settings.site.meta.fb.app_id)
/ IEで「互換モード」で表示されるのを防ぐための指定
meta(http-equiv="X-UA-Compatible" content="IE=Edge")

/ sp
link(media='handheld' rel='alternate')
meta(name="viewport" content="width=device-width,initial-scale=1.0")

/ favicon
/ link(rel="shortcut icon" href=Settings.site.meta.favicon_url type="image/vnd.microsoft.icon")
/ link(rel="icon" href=Settings.site.meta.favicon_url type="image/vnd.microsoft.icon")

/ webclip icon
meta(name="apple-mobile-web-app-capable" content='yes')
meta(name="apple-mobile-web-app-status-bar-style" content='default')
link(rel="apple-touch-icon" href=Settings.site.meta.webclipicon_url)

link(rel="stylesheet" href="css/style.css")

- if noindex?
  - set_meta_tags noindex: true, nofollow: true

= display_meta_tags(default_meta_tags)
